  <section class="single-blog">
    <h2 class="blog-heading">Blog</h2>
    <section class="blog-box">
      <h3 class="blog-box-heading">
        <%= @book.title %>      </h3>
      <p class="single-text">
        <%= @blog.body %> </p>
      <a href="#">編集</a>
      <a href="#">削除</a>
    
